
body{
    background: #BDC0BA;
    
}



// navBar
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F4F48;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .navBarLeft{
      
            text-decoration: none;
            font-weight: 600;
            font-size: 25px;
            color: aliceblue;
        
    }
 
 
    .navBarRight{
        a{
            text-decoration: none;
            margin-left: 36px;
            font-weight: 500;
            color: aliceblue;
            transition: .1s;
       
        }
        a:hover{
            color: rgb(68, 104, 136);
        }
    
    }
}



.grayLine{
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}





// 鏡面設計、影片後製
.broadcastingDesign,.effects{
  
    padding-top: 78px;
    padding-bottom: 80px;
    height: auto;
    background-color: #fff;

    .broadcastingDesignHeader,.effectsHeader{
    
        h2{
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 56px;
        }
        h4{
            padding-top: 16px;
            font-size: 18px;
            text-align: center;
        }
     
    }
.swiper{
    position: relative;
    overflow: initial;
    width: calc(100% -10%);
    margin: auto;
 
    .broadcastingDesignCardAll,.effectsDesignCardAll{
       
      
        .broadcastingDesignCard,.effectsDesignCard{
           
            width: 480px;
            height: auto;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 1px 3px rgba(82, 82, 82, 0.16);
            background-color: #fff;
            margin-right: 4px;
            img{
                width: 480px;
                height: 270px;
                max-width: 100%;
                object-fit: cover;
    
    
            }
    
            .broadcastingDesignCardDetail,.effectsDesignCardDetail{
                line-height: 22px;
               min-height: 112px;
                position: relative;
                padding: 1.2rem 0.7rem 2rem 1.4rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
                h3{
                   font-size: 28px;
                   font-weight: 600;
                   margin-bottom: 8px;
                   color: #4F4F48;
                }
                h4{
                    color: #4F4F48;
                    font-weight: 500;
                }
                p{
                    color: #8d8d8d;
                }
            }
        }
        
    }
    
}

.swiper-button-prev,.swiper-button-next{

color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
   
    margin: auto;
 
    cursor: pointer;
  
}
    }


// 短影音
.shortsDesign{
    padding-top: 88px;
    .shortsDesignHeader{
        h2{
            font-size: 32px;
            font-weight: 700;
            text-align: center;
        }
        h4{
            padding-top: 16px;
            font-size: 18px;
            text-align: center;
        }
    }
    .shortsDesignLeftWrap{
        display: flex;
        justify-content: center;

        .shortsDesignLeft{
            // margin-right: 20px;
            img{
                width: 420px;
                margin-right: 12px;
            }
    
        }
        .shortsDesignRight{
            img{
                display: flex;
                width: 653px;
                margin-bottom: 12px;
            }
    
        }
    }
}







footer{
    width: 100%;
    background-color: #4F4F48;
}

