/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: #e9e9e9;
    // 英文
    font-family: "Philosopher",serif;
    // 中文
    font-family: "Kanit", serif;
}



// navBar
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .navBarLeft{
      
            text-decoration: none;

        
    }
 
 
    .navBarRight{
        display: flex;
        justify-content: center;
        align-items: center;

    
        li{
          h1{
            a{        
                color:#222222;
                font-family: "Philosopher",serif;
                font-size: 36px;
                text-decoration: none;
                margin-left: 36px;
                margin-bottom: 20px;
                transition: .1s;
                font-weight: 900;
            
            }
          }
            a{
                font-family: "Kanit", serif;
                color:#222222;
                font-size: 16px;
                text-decoration: none;
                margin-left:50px;
                transition: .1s;
                text-align: center;
            }
            a:hover{
                color:#8E8D8A;
            }
            
        }
        
    
    }

    .navBarPhone{
        display: none;
    }
}



.grayLine{
    height: 8px;
    background-color: #dddddd;
}





// 鏡面設計、影片後製

.broadcastingDesign,.effects,.figmaWorks{
    overflow-x: hidden;
    padding-top: 78px;
    padding-bottom: 80px;
    height: auto;
    background-color: #f8f8f8;

    .broadcastingDesignHeader,.effectsHeader,.figmaWorksHeader{
    
        h2{
            font-family: "Kanit", serif;
            color:#222222;
            font-size: 56px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 56px;
        }
        h4{
            padding-top: 16px;
            font-size: 18px;
            text-align: center;
        }
     
    }
.swiper{
    position: relative;
    overflow: initial;
    width: calc(95% - 10px);
    margin: auto;
 
    .broadcastingDesignCardAll,.effectsDesignCardAll,.figmaWorksDesignCardAll,.socialMediaCardAll{
       
      
        .broadcastingDesignCard,.effectsDesignCard,.figmaWorksDesignCard.socialMediaCard{
           
            width: 480px;
            height: auto;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 1px 3px rgba(82, 82, 82, 0.16);
            background-color: #fff;
            margin-right: 4px;
            a{
                text-decoration: none;
            }
            img{
                width: 480px;
                height: 270px;
                max-width: 100%;
                object-fit: cover;
    
    
            }
    
            .broadcastingDesignCardDetail,.effectsDesignCardDetail,.figmaDesignCardDetail{
     
               min-height: 112px;
                position: relative;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                position: relative;
               
                h3{
                    font-family: "Kanit", serif;
                    color:#222222;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 12px;
                }
               
                p{
                    font-family: "Kanit", serif;
                    color:#8E8D8A;
                    font-size: 18px;
                    font-weight:100;
                    line-height: 24px;
                   
                    span{
                        font-family: "Kanit", serif;
                        color:#8E8D8A;
                        font-size: 18px;
                        font-weight:500;
                                    
                    }
                    
                }
                .linkClick{
                   position: absolute;
                   bottom: 1rem;
                   right: 2rem;
                    a{
                  padding-top: 20px;
                  color:#8E8D8A;
                         text-decoration: none}
                         a:visited {
                            //設定已經瀏覽過的連結
                            color:#b3b3b3;
                          
                            }
                }

        }
    }   
    }
    
}

.swiper-button-prev,.swiper-button-next{

color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
   
    margin: auto;
 
    cursor: pointer;
  
}
    }
 
    // 社群用圖
    .socialMedia{
        overflow-x: hidden;
        padding-top: 78px;
        padding-bottom: 80px;
        height: auto;
        background-color: #f8f8f8;
    
        .socialMediaHeader{
        
            h2{
                font-family: "Kanit", serif;
                color:#222222;
                font-size: 56px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 56px;
            }
            h4{
                padding-top: 16px;
                font-size: 18px;
                text-align: center;
            }
         
        }
    .swiper{
        position: relative;
        overflow: initial;
        width: calc(95% - 10px);
        margin: auto;
     
        .socialMediaDetailCardAll{
           
          
            .socialMediaCard{
               
                width: 480px;
                height: auto;
                border-radius: 12px;
                overflow: hidden;
                position: relative;
                box-shadow: 0 1px 3px rgba(82, 82, 82, 0.16);
                background-color: #fff;
                margin-right: 4px;
                a{
                    text-decoration: none;
                }
                img{
                    width: 480px;
                    height: 480px;
                    max-width: 100%;
                    object-fit: cover;
        
        
                }
        
                .socialMediaDetail{
         
               
                    position: relative;
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                   
                    h3{
                        font-family: "Kanit", serif;
                        color:#222222;
                        font-size: 30px;
                        font-weight: 700;
                        // margin-bottom: 12px;
                    }
                   
                    p{
                        font-family: "Kanit", serif;
                        color:#8E8D8A;
                        font-size: 18px;
                        font-weight:100;
                        line-height: 24px;
                        text-align: center;
                       
                        span{
                            font-family: "Kanit", serif;
                            color:#8E8D8A;
                            font-size: 18px;
                            font-weight:500;
                                        
                        }
                        
                    }
    
            }
        }   
        }
        
    }
    
    .swiper-button-prev,.swiper-button-next{
    
    color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
       
        margin: auto;
     
        cursor: pointer;
      
    }
        }

        // 靜態CG
           // 社群用圖
    .DailyCG{
        overflow-x: hidden;
        padding-top: 78px;
        padding-bottom: 80px;
        height: auto;
        background-color: #dddddd;
    
        .DailyCGHeader{
        
            h2{
                font-family: "Kanit", serif;
                color:#222222;
                font-size: 56px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 56px;
            }
            h4{
                padding-top: 16px;
                font-size: 18px;
                text-align: center;
            }
         
        }
    .swiper{
        position: relative;
        overflow: initial;
        width: calc(95% - 10px);
        margin: auto;
     
        .DailyCGaDetailCardAll{
           
          
            .DailyCGCard{
               
                width: 640px;
                height: auto;
                border-radius: 12px;
                overflow: hidden;
                position: relative;
                box-shadow: 0 1px 3px rgba(82, 82, 82, 0.16);
                background-color: #fff;
                margin-right: 4px;
                a{
                    text-decoration: none;
                }
                img{
                    width: 640px;
                    height: 360px;
                    max-width: 100%;
                    object-fit: cover;
        
        
                }
        
                .DailyCGDetail{
         
               
                    position: relative;
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                   
                    h3{
                        font-family: "Kanit", serif;
                        color:#222222;
                        font-size: 30px;
                        font-weight: 700;
                        // margin-bottom: 12px;
                    }
                   
                    p{
                        font-family: "Kanit", serif;
                        color:#8E8D8A;
                        font-size: 18px;
                        font-weight:100;
                        line-height: 24px;
                        text-align: center;
                       
                        span{
                            font-family: "Kanit", serif;
                            color:#8E8D8A;
                            font-size: 18px;
                            font-weight:500;
                                        
                        }
                        
                    }
    
            }
        }   
        }
        
    }
    
    .swiper-button-prev,.swiper-button-next{
    
    color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
       
        margin: auto;
     
        cursor: pointer;
      
    }
        }

// 短影音
.shortsDesign{
    overflow-x: hidden;
    background-color: #222222;
    padding-top: 88px;
    padding-bottom: 88px;

    .shortsDesignHeader{
        h2{
            font-family: "Kanit", serif;
            color: #f8f8f8;
             font-size: 56px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 24px;
        }
        h4{
            padding-top: 16px;
            font-size: 18px;
            text-align: center;
            line-height: 24px;
        }
        
            color: #f8f8f8;
            .shortsDesignPhoneSpan{
                display: none;
                color: #f8f8f8;
                    a{
                       
                        color: #f8f8f8;
                        text-decoration: none;
                
                        
                    }
                    a:hover{
                        cursor: pointer;
                     
                    
                    }
              
            }
        
    }
    .shortsDesignMain{
        width: 100vw;
        margin: 10px auto;
      display: flex;

      flex-direction: row;
      justify-content: center;

       .shortsDesignRight{
        .shortsDesignRightContain{
            
            position: relative;
           width: 850px;
            max-height: 640px;

            background-color: #222222;
            h5{color: #f8f8f8;
                font-family: "Kanit", serif;
                font-size: 30px;
                padding-top: 2rem;
                padding-left: 2rem;
                padding-bottom: 1rem;
                font-weight: 600;
            }
            p{
                 font-family: "Kanit", serif;
                 margin-bottom: 6px;
                 font-size: 18px;
                 padding-left: 2rem;
                color: #f8f8f8;
                line-height: 1.2rem;
              
            }
            
     
            .picturePik{
                max-height: 640px;
               img{
                bottom: 0;
            width: 100%;
            object-fit: contain;
           
   
               
               }
           
            }
        }
       }
    }

    }





footer{
    width: 100%;
    text-align: center; 
    background-color: #dddddd;
    p{
        color: #222222;
        padding: 2rem;
    }
}

@media(max-width: 768px){ 
    .navBar{
     
        z-index: 6;

       
        align-items: center;
        background-color: dddddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .navBarLeft{
          
                text-decoration: none;
                font-weight: 600;
                font-size: 25px;
                color: #f8f8f8;
            
        }
     
     
        .navBarRight{
         display: none;
            
        
        }
        
        .hamburger{
            z-index: 7;
            position: relative;
            display: block;
            cursor: pointer;
            width: 35px;
            height: 35px;
            
            
            .bar{
                content: '';          
              display: block;
              width: 100%;
              height: 5px;
              background-color: #222222;
            margin: 6px 0px;
            
         
        }
       
   
       
        }
        .hamburger::after, .hamburger::before{
            content: "";         
            display: block;
            width: 100%;
            height: 5px;
            background-color: #222222;
             margin: 6px 0px;
           
        }
        .hamburger.is-active::before{
  
            transform: rotate(-45deg) translate(-8px,6px);
       
        }

        .hamburger.is-active::after{
 
            transform: rotate(45deg) translate(-9px,-8px);
         
        }
        .hamburger.is-active{
            .bar{
                opacity: 0;
            }
            
        }
        .navBarPhone{
            position: fixed;
            top:0;
            left:100%;
            display:block ;
            width: 100%;
            min-height: 100vh;
            z-index: 5;
            background-color: #8E8D8A;
            padding-top: 120px;
            overflow: hidden;
            
                a{
                    font-family: "Kanit", serif;
                         font-size: 18px;
                    font-weight:400;
                    color: #dddddd;
                    display: block;
                    width: 100%;
                    max-width: 200px;
                    margin: 0 auto 16px;
                    text-align: center;
                    margin-bottom: 16px;
                    padding: 12px 16px;
                    background-color: #383838;
                    border: solid 1px  #383838;
                    border-radius: 5px;
                    text-decoration: none;
                    padding: 20px 36px 20px 36px;
         
                }
                a:hover{
                    font-family: "Kanit", serif;
                    font-size: 18px;
               font-weight:400;
                    color: #383838;
                    background-color: #b8b8b8;
                    border: solid 1px  #383838;
                    border-radius: 5px;
                    padding: 20px 36px 20px 36px;
                    
                }
           
        }
        .navBarPhone.is-active{
            left:0
        }
      
 
 
    }
    .shortsDesign{
            
        background-color: #dddddd;
        padding-top: 88px;
        .shortsDesignHeader{
            h2{
                color: #222222;
            }
            .shortsDesignPhoneSpan{
                font-family: "Kanit", serif;
                font-size: 18px;
                margin-top: 20px;
                display: block;
                color: #222222;
                text-align: center;
                line-height: 24px;
                letter-spacing: 1px;
                    a{                   
                        color: #dddddd;                      
                        padding: 0px 5px 0px 5px;
                        text-decoration: none;
                        background-color: #222222;
                        border-radius: 3px;
                    }
                    a:hover{
                        cursor: pointer;
                       background-color: #383838;
                       border-radius: 3px;
                    
                    }
              
            }
        }
        .shortsDesignMain{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

          
            .shortsDesignRight{
               display: none;
            }

        }
    }


}

header{
    display: flex;

    justify-content: center;

    img{
        width:220px;
        z-index: 2;
    }
   
}

 .toolImg{
        display: flex;
        justify-content: center;
        position: relative;     
        border: solid 5px#dddddd;
                .bgcImg{
                  z-index: 100;            
                  position: absolute;
                  background-color: #002f86;
                  height: 100%;
         
                  display: flex;
                  justify-content: center;
                  bottom: 50px;
                  img{
                  
                      margin-left: 10px;
                      margin-right: 10px;
                        height: 105px;
                        width:105px;
                        border:solid 1px #f8f8f8 ;
                        border-radius: 25%;
                         box-shadow:(0px 5px 3px rgba(85, 85, 85, 0.5));
                    }
                }
     

 }

  
 @media(max-width: 768px){
  .toolImg{
    display: none;
  }
 }